
.add-to-plan-main {
    display: flex;
    justify-content: center;
    background-color: black;
}


.add-to-plan-form {
    background-color: rgb(43, 128, 59);
    border-radius: 5px;
    box-shadow: 6px 3px 3px  rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 450px;
}

.submit-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
