.recipes__body {
    height: 100vh;
    grid-column: 1;
    margin-left: 100px;
}

.recipes__container a {
    color: rgb(11, 72, 5);
}

.recipes__scroll {
    height: 100vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}

.recipes-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 66% 33%;
}

.mealplans__body {
    grid-column: 2;
}


