.recipes__body {
    height: 100vh;
    grid-column: 1;
    margin-left: 100px;
}


.recipes__scroll {
    height: 490px;
    overflow-y: auto;
    margin-left: 15rem;
    width: 550px;
}

::-webkit-scrollbar {
    display: none;
}

.recipes-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
}

.recipes-head {
    display: flex;
    margin-left: 33rem;
    border-bottom: 1px solid black;
    width: 160px;
}

.mealplans__body {
    grid-column: 2;
    height: 100vh;
}

.mealplans-head {
    grid-column: 2;
    border-bottom: 1px solid black;
    width: 200px;
    margin-bottom: 5px;
}

.recipes-header {
    width: 550px;
    display: flex;
    justify-content: center;
}

.mealplans {
    margin-top: 20px;
}
