* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

root {
    position: absolute;
}

html { 
    background: url('./media/splash_background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layer {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.145);
    z-index: 0;
    position: fixed;
}

button {
    color: antiquewhite;
}

textarea {
    resize: none;
    border-radius: 5px;
    overflow: auto;
}

.logout-btn {
    color: antiquewhite;
}

